.top-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      ""
      ""
      "";
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      ""
      ""
      "";
}

.travel-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "screenshot summary"
    "screenshot tech-stack";
}

.tgp-image {
  grid-area: screenshot;
}

.summary-travel {
  grid-area: summary-travel;
}

.stack-travel {
  grid-area: tech-stack;
}
