.top-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      ""
      ""
      "";
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      ""
      ""
      "";
}

.section-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "screenshot"
    "summary"
    "tech-stack";
}

.title {
  grid-area: title;
}

.tgp-image {
  grid-area: screenshot;
}

.summary-travel {
  grid-area: summary;
}

.stack-travel {
  grid-area: tech-stack;
}

.whiskey-image {
  grid-area: screenshot;
}

.summary-whiskey {
  grid-area: summary;
}

.stack-whiskey {
  grid-area: tech-stack;
}

.nfl-image {
  grid-area: screenshot;
}

.summary-player {
  grid-area: summary;
}

.stack-player {
  grid-area: tech-stack;
}

/*@media only screen and (min-width: 640px) and (orientation: landscape) {
  .section-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "screenshot"
      "summary"
      "tech-stack";
  }
}*/

@media screen and (min-width: 640px) {
  .section-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "title title"
      "screenshot tech-stack"
      "summary links";
  }

  .code-links {
    grid-area: links;
  }
}

