.top-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      ""
      ""
      "";
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      ""
      ""
      "";
}

.section-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "screenshot summary"
    "screenshot tech-stack";
}

.tgp-image {
  grid-area: screenshot;
}

.summary-travel {
  grid-area: summary;
}

.stack-travel {
  grid-area: tech-stack;
}

.whiskey-image {
  grid-area: screenshot;
}

.summary-whiskey {
  grid-area: summary;
}

.stack-whiskey {
  grid-area: tech-stack;
}
