:root {
  --green: #55e079;
  --blue: #0d314c;
  --whiskey-red: #a30100;
  --whiskey-orange: #db621c;
  --nfl-green: rgba(0, 85, 15);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', sans-serif;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

/*.very-top {
  display: flex;
  flex-wrap: wrap;
}*/

.headshot-image {
  display: block;
  max-width: 5.5rem;
  margin: 0.5rem auto 0;
  border-radius: 40%;
}

img.tgp-image, img.whiskey-image, img.nfl-image {
  max-width: 90%;
  margin: 0 auto;
}

.heading-primary {
  /*writing-mode: vertical-lr;
  text-orientation: upright;*/
  text-transform: uppercase;
  letter-spacing: 0.375rem;
  color: black;
  text-align: center;
  margin: 0.75rem auto 0.1rem;
}

.heading-title {
  color: black;
  text-align: center;
  margin-bottom: 0.75rem;
}

.heading-primary-bio {
  font-size: 1.25rem;
  margin: 0 0.75rem;
}

.project-label {
  margin: 0 0 0.5rem 0.5rem;
  font-size: 1.6rem;
}

.link-list {
  display: flex;
  justify-content: center;
}

.fa-twitter-square {
  font-size: 2.75rem;
  text-decoration: none;
  color: #1da1f2;
  margin: 1rem;
}

.fa-github-square {
  font-size: 2.75rem;
  text-decoration: none;
  color: black;
  margin: 1rem;
}

.fa-linkedin {
  font-size: 2.75rem;
  text-decoration: none;
  color: #0077B5;
  margin: 1rem;
}

.fa-envelope-square {
  font-size: 2.75rem;
  text-decoration: none;
  color: black;
  margin: 1rem;
}

.title {
  font-size: 1.6rem;
  margin: 0 auto 0.5rem;
}

.summary {
  padding: 0.25rem 1rem;
  font-size: 1.6rem;
}

.stack {
  margin: 0.5rem auto;
  font-size: 1.25rem;
}

.label-stack {
  font-size: 1.5rem;
  font-weight: bold;
}

a.btn {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 60%;
  margin: .5rem auto;
  color: white;
  border: 0;
  border-radius: 10rem;
  padding: 1rem 2.5rem;
  font-size: 1.6rem;
}

a.link-demo-tgp {
  background: var(--green);
}

a.link-code-react {
  background: var(--blue);
  width: 80%;
}

a.link-code-api-tgp {
  background: var(--blue);
}

a.link-demo-whiskey {
  background: var(--whiskey-red);
}

a.link-code-whiskey {
  background: var(--whiskey-orange);
  color: var(--whiskey-red);
}

a.link-demo-nfl {
  background: var(--nfl-green);
}

a.link-code-nfl {
  background: white;
  border: 1px solid var(--nfl-green);
  color: var(--nfl-green);
}

.border-between {
  border: 2px solid gray;
  margin: 1em auto;
  width: 75%;
  /*text-align: center;*/
}

@media screen and (min-width: 640px) {
  .headshot-image {
    max-width: 8.5rem;
    margin: 0.5rem auto 0;
    border-radius: 40%;
  }

  .heading-primary {
    font-size: 2.5rem;
  }

  .heading-title {
    font-size: 2rem;
  }

  .title {
    font-size: 2.5rem;
    margin: 0 auto 0.5rem;
  }

  .summary {
    padding: 1.25rem 1rem;
    font-size: 1.6rem;
  }

  .stack {
    margin: 0.5rem auto;
    font-size: 1.25rem;
  }

  a.btn {
    width: 55%;
  }
}
